*{
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    background-color: white;
    padding: 0px;
    margin:0px;
}

/* Nav styles */
.header{
    background-color: #1f2937;
    color: white;
}

.quote{
    background-color: #E5E7EB;
}

.nav-cont{
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}



.logo{
    font-weight: bold;
    font-variant: small-caps;
}

.nav-links{
    display: flex;
    gap: 30px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

.nav-links a:hover{
    text-decoration: underline;
}



.nav-info{
    display: flex;
    flex-direction: row;
    margin: 50px 0px;
}

.nav-info div{
    flex:1;
}

.nav-info div h1{
    margin-bottom:10px;
    font-weight: bolder;
    font-size: 45px;
}

.nav-info div p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom:10px;
    max-width: 400px;
}

button{
    background-color: #3382F6;
    font-weight: bold;
    padding:10px 24px;
    border: none;
    border-radius: 10px;
    color: white;
}

.image-cont{
    padding: 10px;
}

.image{
    width: 100%;
    height: 100%;
}



/* End of Nav styles */

/* Services styles */

.services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.services-cont{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.services-cont h2{
    color:#1f2937;
    font-size: 30px;
}

.service img{
    width: 250px;
    max-width: 250px;
    height: 200px;
    max-height: 200px;
    background-size: contain;
    border: 1px solid #a8a6a6;
    padding: 5px;
    border-radius: 5px;
}

.service p{
    text-align: center;
    color: #1f2937;
}


/* End of services styles */

/* Testimonials styles */
.testimonials{
    padding: 30px;
    background-color:#E5E7EB ;
    text-align: center;
}

.testimonials-cont{
    display: flex;
    /*  */
    justify-content: center;
    gap: 100px;
    margin-bottom: 20px;
}

.testimonial{
    max-width: 400px;
    text-align: left;
}

.text{
    font-size: 14px;
    font-style: italic;
    border-left: 3px solid;
    padding: 5px;
    padding-left:15px ;

}

.author{
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}



/* End of testimonials */

/* Call to action styles */
    .call-to-action-cont{
        padding: 50px;
    }
    
    .call-to-action{
        background-color: #3382F6;
        width: 100%;
        max-width: 800px;
        border-radius: 10px;
        color: white;
        padding: 20px 40px;
        margin: auto;
    }

    .call-to-action-header{
        font-size: 17px;
        font-weight: bold;
    }

    .email-cont{
        background-color: white;
        padding: 5px;
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
    }

    .call-to-action-btn{
        border-radius: 20px;
        padding:10px 25px;
    }

    .email{
        width: 250px;
        padding-left: 15px;
        border-radius: 15px;
        border:none ;
    }

    .email:focus{
        outline:none;
    }

    /* footer */
    .footer{
        background-color: #1f2937;
        padding: 15px;
        text-align: center;
        color: white;
    }   
        @media screen and (max-width:400px) {
            .navbar{
                font-size: 13px;
            }
        
            .nav-info{
                flex-direction: column-reverse;
            }
        
            .nav-info{
                margin:20px 0px;
            }
        
            .nav-info div{
                flex:1;
            }
        
            .nav-info div h1{
                font-size: 25px;
            }
        
            .services-cont{
                flex-direction: column;
                align-items: center;
            }
        
            .testimonials-cont{
                flex-direction: column;
                margin-bottom: 0px;
                gap: 10px;
            }
            
            .call-to-action-cont{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 10px;
            }

            .call-to-action{
                width:100%;
                padding: 10px;
                box-sizing: border-box;
            }

            .call-to-action-text{
                font-size: 14px;
            }


            .email-cont{
                width: 95%;
                margin: auto;
                /* border: 1px solid black; */
            }

            .email{
                width: 100%;
            }
        }